@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  
@layer components {


  .main-container{
    @apply w-full 
  }

  .form-page-container{
    @apply flex min-h-screen flex-col items-center gap-5 pt-8  max-md:pl-0 w-full
  }

  .navbar {
    @apply animate-in fade-in fixed bg-white top-0 z-30 h-16  w-full flex w-full items-center justify-between  py-2 border-b border-gray-200 max-md:h-16
      }

  .navbar-container {
    @apply w-full mr-5 ml-5 md:ml-8 md:mr-8  flex flex-row 
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-white backdrop-filter backdrop-blur p-4  md:hidden
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 ;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }

  .leftsidebar {
    @apply grid min-h-screen w-full lg:grid-cols-[280px_1fr];
  }

  .leftsidebar_link {
    @apply  flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500;
  }

  .primary-button {
    @apply bg-primary text-slate-50  hover:bg-secondary hover:text-black 
  }
  
}